{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      {% block js %}
      {% endblock js %}

      <!-- CSS -->
      {% block css %}
      <link rel="stylesheet" href="{{ get_url(path="book.css") | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>

        <div class="container">
            <header class="page__header" role="heading">
                <!-- This is the hamburger icon -->
                <button class="menu-icon" aria-label="Toggle navigation menu">
                    <span aria-hidden="true">&nbsp;</span>
                    <span aria-hidden="true">&nbsp;</span>
                    <span aria-hidden="true">&nbsp;</span>
                </button>

                <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
            </header>

            <nav role="navigation">
                {% block before_menu %}
                {% endblock before_menu %}
                <h3>Site map:</h3>
                {% block menu %}
                    <ul>
                        {% set index = get_section(path="_index.md") %}
                        <li>
                            {{ macros::nav_list_item(item=index, name="Home") }}
                        </li>
                        {% for s in index.subsections %}
                            {% set section = get_section(path=s) %}
                            {% set section_has_sub = section.subsections | length + section.pages | length > 0 %}
                            <li>
                                {{ macros::nav_list_item(item=section) }}
                                {% if section_has_sub %}
                                    <ul>
                                {% endif %}
                                {% for ss in section.subsections %}
                                    {% set subsection = get_section(path=ss) %}
                                    {% set subsection_has_sub = subsection.subsections | length + subsection.pages | length > 0 %}
                                    <li>
                                        {{ macros::nav_list_item(item=subsection) }}

                                        {% if subsection_has_sub %}
                                            <ul>
                                        {% endif %}
                                        {% for sss in subsection.subsections %}
                                            {% set subsubsection = get_section(path=sss) %}
                                            {% set subsubsection_has_sub = current_path is starting_with(subsubsection.path) and subsubsection.pages | length > 0 %}
                                            <li>
                                                {{ macros::nav_list_item(item=subsubsection) }}

                                                {% if subsubsection_has_sub %}
                                                    <ul>
                                                {% endif %}

                                                {% if current_path is starting_with(subsubsection.path) %}
                                                    {% for page in subsubsection.pages %}
                                                        <li>
                                                            {{ macros::nav_list_item(item=page) }}
                                                        </li>
                                                    {% endfor %} {# page in subsubsection.pages #}
                                                {% endif %}

                                                {% if subsubsection_has_sub %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %} {# sss in subsection.subsections #}

                                        {% for page in subsection.pages %}
                                            <li>
                                                {{ macros::nav_list_item(item=page) }}
                                            </li>
                                        {% endfor %} {# page in subsection.pages #}

                                        {% if subsection_has_sub %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %} {# ss in section.subsections #}

                                {% for page in section.pages %}
                                    <li>
                                        {{ macros::nav_list_item(item=page) }}
                                    </li>
                                {% endfor %}

                                {% if section_has_sub %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %} {# s in index.subsections #}

                        {% for page in index.pages %}
                            <li>
                                {{ macros::nav_list_item(item=page) }}
                            </li>
                        {% endfor %} {# page in index.pages #}
                    </ul>
                {% endblock menu %}
                {% block after_menu %}
                {% endblock after_menu %}
            </nav>

            <article>
                {% block content %}
                {{ section.content | safe }}
                {% endblock content %}
            </article>

        </div>

        {% block js_body %}
            <script type="text/javascript" src="{{ get_url(path="book.js") | safe }}"></script>
        {% endblock js_body %}
    </body>

</html>
