{% extends "index.html" %}

{% block content %}
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
    <div  class="summaries">
        {% for ss in section.subsections %}
            {% if loop.first %}
                <dl>
            {% endif %}
            {% set subsection = get_section(path=ss) %}
                    <dt><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></dt>
                    <dd>{{ subsection.description }}</dd>
            {% if loop.last %}
                </dl>
            {% endif %}
        {% endfor %}
        <ul>
            {% for page in section.pages %}
                <li>
                    <h2>
                        <a href="{{page.permalink | safe }}">{{ page.title }}</a>
                    </h2>
                    Date: <time datetime="{{ page.date }}">{{ page.date }}</time>
                    {{ page.summary | safe }}
                    <a href="{{ page.permalink }}#continue-reading">Continue Reading</a>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
