.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 75px auto;
  grid-template-areas:
    "header header"
    "sidebar content";
  height: 100%;
  overflow-y: auto;
  color: #000;
  background: $color-primary-0;
  transition: 0.5s;

  .zola-anchor {
    color: #4183c4;
    padding-left: 10px;
    text-decoration: none;
    font-weight: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  article {
    a {
      color: #4183c4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      height: 4px;
      padding: 0;
      margin: 1.7em 0;
      overflow: hidden;
      background-color: #e7e7e7;
      border: none;
    }

    pre {
      padding: 1rem;

      span {
        white-space: pre-wrap;
      }
    }

    blockquote {
      margin: 0;
      margin-bottom: .85em;
      padding: 0 15px;
      color: #858585;
      border-left: 4px solid #e5e5e5;
    }

    code {
      display: inline-block;
      vertical-align: middle;
      padding: 0.1em 0.3em;
      border-radius: 3px;
      color: #6e6b5e;
      background: #f1f1f1;
      font-size: 0.875em;
      font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    }

    iframe {
      border: 0;
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
      border-color: #cccccc;

      td {
        padding: 3px 20px;
        border: 1px solid #ccc;
      }

      thead {
        th {
          padding: 6px 13px;
          font-weight: bold;
          border: 1px solid #ccc;
        }
      }
    }

    font-size: 1.6rem;
    word-wrap: break-word;
    line-height: 1.7;
    grid-area: content;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px 40px;

    p {
      margin-top: 0;
      margin-bottom: 0.85em;
    }

    h2 {
      margin-bottom: 0.2em;
    }
  }
}

@include min-screen(600px) {
  .page-without-menu {
    grid-column-start: sidebar !important;
    grid-column-end: content;
  }
}

@include max-screen(600px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: [header] 75px [sidebar] auto [content] auto;
    grid-template-areas:
      "header"
      "sidebar"
      "content";
    height: auto;
  }

  article {
    width: 100%;
  }
}

.summaries {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }
}