.menu-icon {
  height: 50px;
  width: 50px;
  font-size: 24px;
  // display: block;
  // float: left;
  position: relative;
  transition: background .5s;
  background: $color-primary-1;
  margin: 0px;
  padding: 0px;
  grid-area: navbutton;
  border: 0px;

  span {
    position: absolute;
    /* fallback for browsers which still doesn't support for `calc()` */
    left: 15px;
    top: 25px;
    left: calc((100% - 20px) / 2);
    top: calc((100% - 1px) / 2);
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);

    &:nth-child(1) {
      transform: translateY(6px) rotate(0deg);
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(0deg);
    }
  }

  &:hover {
    span {
      background-color: black;
    }
  }
}

header {
  // height: 50px;
  width: 100%;
  background: $color-primary-1;
  text-align: center;
  grid-area: header;
  display: grid;
  grid-template-columns: [navbutton] 50px [title] auto;

  h1 {
    grid-area: title;
    margin: 0px;
    padding-top: 10px;
  }

  a {
    height: 50px;
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
