nav {
  overflow-y: auto;
  grid-area: sidebar;
  color: #000;
  background: $color-primary-1;
  border-right: 1px solid $color-primary-4;
  transition: 0.5s;
  height: 100%;
  padding-left: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      color: #000;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      padding: 10px 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    .active-page:before {
      content: "> ";
    }
    .active-path {
      font-weight: bolder;
    }

    ul {
      padding-left: 20px;
    }
  }
}

  .menu-hidden {
    display: none;
  }

@include max-screen(600px) {
  nav {
    height: auto;
  }
}


