@charset "utf-8";

@import "normalize";

$color-primary-0: #E1F4A2;
$color-primary-1: #8AA236;
$color-primary-2: #B4CB65;
$color-primary-3: #637A14;
$color-primary-4: #3F5100;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}


@mixin min-screen($min-width: $body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@import "navigation";
@import "content";
@import "header";
